body{
    background: linear-gradient(to right, #454545, #333333, #0c0421);
    color:#ffffff;
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 5px;
    font-family:'Courier New', Courier, monospace;
    position: relative;
}
#main-wrapper{
    flex-grow: 1;
    padding-bottom: 100px;
    box-sizing: border-box;
}

#container{
    background-color: #222222;
    display: flex;
    flex-wrap: wrap;
    height: calc(100% - 100px);
    margin: 5px;
    border-radius: 20px;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}
a {
    color: #98e9ff;
    text-decoration: none;
}
a:hover{
    color: #88888888;
}


#header {
    background: linear-gradient(to right, #333333, #222222);
    padding: 1em;
    text-align: center;
    font-weight: 800;
    border-radius: 25px;
}
#header nav{
    display:flex;
    align-items: center;
    justify-content: space-between;
}
#logo {
    width: 50px;
    height: 40px;
    margin-right: 10px;
}
#header nav ul {
    justify-content: space-between;
    margin-left: auto;
}
#header nav li {
    margin-right: 20px;
}

#sidebar{
    max-width: 10%;
    background-color: #444480;
    padding: 20px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    border-radius: 15px;
}
#sidebar ul{
    flex-direction: column;
}

#main-content{
    background-color: #222222;
    width: 50%;
    flex: 1;
    padding: 20px;
    text-align: center;
}
.imagewrap{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.image-container {
    margin: 20px;
    margin-right: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.image-container img{
    margin-bottom: 25px;

}

#footer {
    height: 100px;
    background-color: #333380;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #ffffff;
}

#footer-text{
    flex: 1;
}
